<p>Welcome</p>
<button (click)="getWeather()">getweather</button>
<table *ngIf="showTable">
  <thead>
    <th>Temperature</th>
    <th>Temperature Min</th>
    <th>Temperature Maximum</th>
  </thead>
  <tbody *ngFor="let x of tableArray">
    <tr>
      <td>{{ x.temp }}</td>
      <td>{{ x.temp_min }}</td>
      <td>{{ x.temp_max }}</td>
    </tr>
  </tbody>
</table>

<button (click)="getPastWeather()">getPastweather</button>
<table *ngIf="showTable2">
  <thead>
    <th>Temp</th>
    <th>Temperature-min</th>
    <th>Temperature-max</th>
    
    
  </thead>
  <tbody *ngFor="let y of tableArray2">
    <tr>
      <td>{{ y.temp }}</td>
      <td>{{ y.temp_min }}</td>
      <td>{{ y.temp_max }}</td>
      
     
    </tr>
  </tbody>
</table>

<button (click)="getFutureWeather()">getFutureweather</button>
<table *ngIf="showTable3">
  <thead>
    <th>Speed</th>
    <th>Deg</th>
  </thead>
  <tbody *ngFor="let x of tableArray3">
    <tr>
      <td>{{ x.speed }}</td>
      <td>{{ x.deg }}</td>
      
    </tr>
  </tbody>
</table>